<!DOCTYPE html>
<html lang="en" ng-app="PrimerApp">

<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
  ================================================================================ -->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Comidas</title>

    <!-- Favicons-->
    <link rel="icon" href="images/favicon/logofav.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  </head>

  <body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <!-- LOGO DEL SISTEMAAAA -->
            <ul class="left">                      
              <li><h1 class="logo-wrapper"><a href="pedidos-pendientes.html" class="brand-logo darken-1"><img src="images/logo2.png" alt="cazimba logo"></a> <span class="logo-text">Cazimba</span></h1></li>
            </ul>
            <!-- LA PARTE DE ARRIBA A LA DERECHA -->
            <ul class="right hide-on-med-and-down">
              <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
              </li>                    
            </ul>
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details cyan darken-2">
              <div class="row">
                <div class="col col s4 m4 l4">
                  <img src="images/avatar3.jpg" alt="" class="circle responsive-img valign profile-image">
                </div>
                <div class="col col s8 m8 l8">
                  <a class="btn-flat white-text profile-btn" href="#">Nico Rios</a>
                  <p class="user-roal">Emprendedor</p>
                </div>
              </div>
            </li>
            <li><a href="pedidos-pendientes.html"><i class="mdi-action-home"></i> Principal</a>
            </li>
            <li class="bold"><a href="pedidos.html" class="waves-effect waves-cyan"><i class="mdi-av-web"></i> Pedidos</a>
            </li>
            <li class="bold"><a href="tipoComidas.html" class="waves-effect waves-cyan"><i class="mdi-maps-local-restaurant"></i> Comidas</a>
            </li>
            <li><a href="empleados.html"><i class="mdi-action-face-unlock"></i> Empleados</a>
            </li>
            <li class="li-hover"><div class="divider"></div></li>
            <li><a href="user-lock-screen.html"><i class="mdi-action-lock-outline"></i> Lock</a>
            </li>
            <li><a href="user-login.html"><i class="mdi-hardware-keyboard-tab"></i> Salir</a>
            </li>
            <li class="li-hover"><div class="divider"></div></li>
            <li class="li-hover"><p class="ultra-small margin more-text">Ventas de hoy</p></li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START CONTENT -->
        <section id="content" ng-controller="TipoDeComidaController">
          <!--breadcrumbs start-->
          <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <!-- <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          -->          <div class="container">
          <div class="row">
            <div class="col s12 m12 l12">
              <h5 class="breadcrumbs-title">Tipos de Comida</h5>
              <br>
            </div>
          </div>
        </div>
      </div>
      <!--breadcrumbs end-->



      <!--start container-->
      <div class="container">
          <div class="section">
           <div class="divider"></div>
           <!-- TABLA ACORDION -->
           <div id="accordion" class="section"> 
              <!-- Primer fila de la pantalla -->
              <div class="row">
                  <!-- Primera columna de la fila -->
                  <div class="col s12 m6 l6">
                        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                            <!-- <li>
                              <div class="collapsible-header" ng-repeat="tipo in misTipos" ng-bind="tipo.name"></div>
                                
                                  <table class="striped">
                                    <tbody>
                                      <tr ng-repeat="item in tipo.items">
                                        <td ng-bind="item.nameItem"></td>
                                        <td ng-bind="item.cost| currency"></td>
                                        <td><a href="" ng-click="recuperarDatos(item)"><i class="small blue-text mdi-content-create"></i></a></td>
                                        <td><a href="" ng-click="eliminarPizzas($index)"><i class="small blue-text mdi-navigation-close"></i></a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                
                            </li> -->
                            <li >
                                <div class="collapsible-header">Pizzas</div>
                                <div class="collapsible-body">
                                  <div class="container">
                                    <table class="striped">
                                      <tbody>
                                        <tr ng-repeat="item in pizzas track by $index">
                                          <td ng-bind="item.nombreItem"></td>
                                          <td ng-bind="item.precio | currency"></td>
                                          <td><a href="" ng-click="recuperarDatos(item,'Pizza')"><i class="small blue-text mdi-content-create"></i></a></td>
                                          <td><a href="" ng-click="eliminarPizzas($index)"><i class="small blue-text mdi-navigation-close"></i></a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header" >Lomitos</div>
                                <div class="collapsible-body">
                                  <div class="container">
                                    <table class="striped">
                                      <tbody>
                                        <tr ng-repeat="item in lomitos track by $index">
                                          <td ng-bind="item.nombreItem"></td>
                                          <td ng-bind="item.precio | currency"></td>
                                          <td><a href="" ng-click="recuperarDatos(item,'Lomitos')"><i class="small blue-text mdi-content-create"></i></a></td>
                                          <td><a href="" ng-click="eliminarLomitos($index)"><i class="small blue-text mdi-navigation-close"></i></a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                            </li>
                            <li>
                              <div class="collapsible-header" >Tartas</div>
                              <div class="collapsible-body">
                                  <div class="container">
                                    <table class="striped">
                                      <tbody>
                                        <tr ng-repeat="item in tartas track by $index">
                                          <td ng-bind="item.nombreItem"></td>
                                          <td ng-bind="item.precio | currency"></td>
                                            <td><a href="" ng-click="recuperarDatos(item,'Tarta')"><i class="small blue-text mdi-content-create"></i></a></td>
                                          <td><a href="" ng-click="eliminarTartas($index)"><i class="small blue-text mdi-navigation-close"></i></a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                            </li>
                          </ul>
                          
                  </div>
                  <!-- Segunda columna de la fila -->
                  <div class="col s12 m6 l6">  
                      <div class="card-panel">
                        <div class="container">
                          <form action="">
                                  <div class="container">
                                    <div class="row ">
                                        <h5> Nuevo Registro</h5>
                                        <div class="divider"></div>
                                    </div> 
                                    <br>
                                  </div>
                                  <div class="container"> 
                                    <div class="row"> 
                                              <div class="col s6 m6 l6">
                                                      <label for="txt-nombre">Comida</label>
                                                      <input ng-model="nombre" placeholder="Ingrese el nombre" id="txt-nombre" type="text" class="validate">     
                                              </div>
                                              <div class="col s6 m6 l6">
                                                      <label for="txt-precio">Precio</label>
                                                      <input  ng-model= "precioo" placeholder="Ingrese el precio" id="txt-precio" type="text" class="validate"> 
                                              </div>
                                    </div>
                                    <br> 
                                  </div>
                                  <div class="container">
                                    <div class="row">
                                        <div class="input-field col s10 m10 l10">
                                          <!-- SELECT CON ANGUlAR MATERIALEZE -->
                                          <!-- <select class="" ng-model="select.value1" material-select watch>
                                                <option ng-repeat="value in select.choices" ng-bind="value"></option>
                                          </select> -->
                                          <select ng-model="selectValue" name="tipoSelect" id="tipoSelect" material-select watch>
                                              <option value="" disabled selected ng-model="selectValue"></option>
                                              <option value="1">Pizza</option>
                                              <option value="2">Lomito</option>
                                              <option value="3">Tarta</option>
                                          </select>
                                          <label for="tipoSelect">Tipos de Comida</label>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <a ng-click="flagNewTipo = false"href=""><i class="small tooltipped blue-text mdi-content-add-circle-outline" data-position="bottom" data-delay="50" data-tooltip="Nuevo Tipo de Comida"></i></a>   
                                        </div>
                                    </div>
                                    <br>                                
                                  </div> 
                                  <div class="container">
                                    <div ng-hide="flagNewTipo"class="row">
                                        <div class="col s10 m10 l10">
                                            <label class=""for="nombre">Tipo de Comida</label>
                                            <input class="validate" placeholder="Ingrese el nuevo tipo de comida" id="nombre" type="text" > 
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <a ng-click="flagNewTipo = true"href=""><i class="small tooltipped blue-text mdi-content-clear" data-position="bottom" data-delay="50" data-tooltip="Ocultar"></i></a>   
                                        </div>
                                    </div>
                                    <br>
                                  </div> 
                                  <div class="container">
                                    <div class="row">
                                        <div class="col s6 m6 l6">
                                            <a href="" class="waves-effect waves-light btn blue">Aceptar</a>
                                            <!-- <a href="" ng-click="agregarItem(tarta)"><i class="medium blue-text mdi-navigation-check"></i></a> -->
                                        </div>
                                        <div class="col s6 m6 l6">
                                            <a href="" class="waves-effect waves-light btn blue">Cancelar</a>
                                            <!-- <a href="" ng-click="agregarItem(tarta)"><i class="medium blue-text mdi-navigation-close"></i></a> -->
                                        </div>
                                    </div>                                
                                  </div>

                                  <!-- PREUBAS DE HUEVADAS -->
                                 
                                  
                          </form>             
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <br><br><br><br><br><br>
          </div>




          <!-- Floating Action Button  BOTONO CHIQUITO DEL COSTADO-->
            <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                <a class="btn-floating btn-large">
                  <i class="mdi-action-stars"></i>
                </a>
                <ul>
                  <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                  <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                  <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                  <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
                </ul>
            </div>
            <!-- Floating Action Button -->
        </div>
    <!-- <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
      <a class="btn-floating btn-large">
        <i class="mdi-action-stars"></i>
      </a>
      <ul>
        <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
        <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
        <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
        <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
      </ul>
    </div> -->
    <!-- Floating Action Button -->
  </div>
  <!--end container-->
</section>
<!-- END CONTENT -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
</div>
<!-- END WRAPPER -->

</div>
<!-- END MAIN -->



<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
      <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
    </div>
  </div>
</footer>
<!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--prism
    <script type="text/javascript" src="js/prism/prism.js"></script>-->
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--jsgrid-->
    <script type="text/javascript" src="js/plugins/jsgrid/js/db.js"></script> <!--data-->
    <script type="text/javascript" src="js/plugins/jsgrid/js/jsgrid.min.js"></script>
    <script type="text/javascript" src="js/plugins/jsgrid/js/jsgrid-script.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"></script>

    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-materialize.js"></script>
    <script src="js/tipoDeComida-controller.js"></script>
    
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
    <script>
        $(document).ready(function(){
           $('.tooltipped').tooltip({delay: 50});
          });
    </script>
    
  </body>

  </html>